{% load static i18n %}
<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link type="text/css" href="{% static 'main.css' %}" rel="stylesheet" media="all">
    <title>
        {% block title %}
            ExchAdmin
        {% endblock %}
    </title>
</head>
<body id="body" class="">


</body>
</html>
